RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access plus 14 days"
    ExpiresByType image/png "access plus 14 days"
</IfModule>